body{
    font-family: Roboto;
    color: white;
    margin: 0;
    
} 

h2{
    font-size: 30px;
}

.background{
    position: absolute;
    background-color: aqua;
    background-image: url('https://cdn.pixabay.com/photo/2021/01/25/22/45/leaves-5949884_1280.png');
    background-repeat: repeat-x,y;
    display: block;
    width: 100%;
}

.backgroundSign{
    position: absolute;
    left: 550px;
    top: 150px;
    height: 350px;
    width: 200px;
    background-color: darkgrey;
    border-radius: 10px;
    opacity: 0.5;
}

.main {
    position: absolute;
    padding-top: 20px;
    text-align: center;
    left: 550px;
    top: 150px;
    height: 350px;
    width: 200px;
}

.emailBox{
    text-align: left;
    padding-left: 20px;
}

.emailBox input{
    border-radius: 5px;
    
}

.passwordBox{
    text-align: left;
    padding-left: 20px;
}

.passwordBox input{
    border-radius: 5px;
}

.buttonSubmit button{
    font-size: 15px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.forgotPassword{
    font-size: 10px;
    
}





